<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weweibuy.brms.mapper.RuleModelAttrMapper">
  <resultMap id="BaseResultMap" type="com.weweibuy.brms.model.po.RuleModelAttr">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="rule_key" jdbcType="VARCHAR" property="ruleKey" />
    <result column="rule_model_attr_type" jdbcType="CHAR" property="ruleModelAttrType" />
    <result column="attr_key" jdbcType="VARCHAR" property="attrKey" />
    <result column="attr_value" jdbcType="VARCHAR" property="attrValue" />
    <result column="is_delete" jdbcType="TINYINT" property="deleted" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, rule_key, rule_model_attr_type, attr_key, attr_value, is_delete, create_time, 
    update_time
  </sql>
  <select id="selectByExample" parameterType="com.weweibuy.brms.model.example.RuleModelAttrExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from brms_rule_model_attr
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExampleForUpdate" parameterType="com.weweibuy.brms.model.example.RuleModelAttrExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from brms_rule_model_attr
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
     for update
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from brms_rule_model_attr
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from brms_rule_model_attr
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.weweibuy.brms.model.example.RuleModelAttrExample">
    delete from brms_rule_model_attr
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.weweibuy.brms.model.po.RuleModelAttr">
    insert into brms_rule_model_attr (id, rule_key, rule_model_attr_type, 
      attr_key, attr_value, is_delete, 
      create_time, update_time)
    values (#{id,jdbcType=BIGINT}, #{ruleKey,jdbcType=VARCHAR}, #{ruleModelAttrType,jdbcType=CHAR}, 
      #{attrKey,jdbcType=VARCHAR}, #{attrValue,jdbcType=VARCHAR}, #{deleted,jdbcType=TINYINT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.weweibuy.brms.model.po.RuleModelAttr">
    insert into brms_rule_model_attr
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="ruleKey != null">
        rule_key,
      </if>
      <if test="ruleModelAttrType != null">
        rule_model_attr_type,
      </if>
      <if test="attrKey != null">
        attr_key,
      </if>
      <if test="attrValue != null">
        attr_value,
      </if>
      <if test="deleted != null">
        is_delete,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="ruleKey != null">
        #{ruleKey,jdbcType=VARCHAR},
      </if>
      <if test="ruleModelAttrType != null">
        #{ruleModelAttrType,jdbcType=CHAR},
      </if>
      <if test="attrKey != null">
        #{attrKey,jdbcType=VARCHAR},
      </if>
      <if test="attrValue != null">
        #{attrValue,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.weweibuy.brms.model.example.RuleModelAttrExample" resultType="java.lang.Long">
    select count(*) from brms_rule_model_attr
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update brms_rule_model_attr
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.ruleKey != null">
        rule_key = #{record.ruleKey,jdbcType=VARCHAR},
      </if>
      <if test="record.ruleModelAttrType != null">
        rule_model_attr_type = #{record.ruleModelAttrType,jdbcType=CHAR},
      </if>
      <if test="record.attrKey != null">
        attr_key = #{record.attrKey,jdbcType=VARCHAR},
      </if>
      <if test="record.attrValue != null">
        attr_value = #{record.attrValue,jdbcType=VARCHAR},
      </if>
      <if test="record.deleted != null">
        is_delete = #{record.deleted,jdbcType=TINYINT},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update brms_rule_model_attr
    set id = #{record.id,jdbcType=BIGINT},
      rule_key = #{record.ruleKey,jdbcType=VARCHAR},
      rule_model_attr_type = #{record.ruleModelAttrType,jdbcType=CHAR},
      attr_key = #{record.attrKey,jdbcType=VARCHAR},
      attr_value = #{record.attrValue,jdbcType=VARCHAR},
      is_delete = #{record.deleted,jdbcType=TINYINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.weweibuy.brms.model.po.RuleModelAttr">
    update brms_rule_model_attr
    <set>
      <if test="ruleKey != null">
        rule_key = #{ruleKey,jdbcType=VARCHAR},
      </if>
      <if test="ruleModelAttrType != null">
        rule_model_attr_type = #{ruleModelAttrType,jdbcType=CHAR},
      </if>
      <if test="attrKey != null">
        attr_key = #{attrKey,jdbcType=VARCHAR},
      </if>
      <if test="attrValue != null">
        attr_value = #{attrValue,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null">
        is_delete = #{deleted,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.weweibuy.brms.model.po.RuleModelAttr">
    update brms_rule_model_attr
    set rule_key = #{ruleKey,jdbcType=VARCHAR},
      rule_model_attr_type = #{ruleModelAttrType,jdbcType=CHAR},
      attr_key = #{attrKey,jdbcType=VARCHAR},
      attr_value = #{attrValue,jdbcType=VARCHAR},
      is_delete = #{deleted,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectOneByExample" parameterType="com.weweibuy.brms.model.example.RuleModelAttrExample" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from brms_rule_model_attr
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    limit 1
  </select>
  <select id="selectOneByExampleForUpdate" parameterType="com.weweibuy.brms.model.example.RuleModelAttrExample" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from brms_rule_model_attr
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    limit 1
     for update
  </select>
</mapper>