<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weweibuy.brms.mapper.RuleConditionMapper">
  <resultMap id="BaseResultMap" type="com.weweibuy.brms.model.po.RuleCondition">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="rule_key" jdbcType="VARCHAR" property="ruleKey" />
    <result column="attr_name" jdbcType="VARCHAR" property="attrName" />
    <result column="condition_operator" jdbcType="VARCHAR" property="conditionOperator" />
    <result column="condition_value" jdbcType="VARCHAR" property="conditionValue" />
    <result column="logical_operator" jdbcType="VARCHAR" property="logicalOperator" />
    <result column="condition_order" jdbcType="INTEGER" property="conditionOrder" />
    <result column="is_delete" jdbcType="TINYINT" property="deleted" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, rule_key, attr_name, condition_operator, condition_value, logical_operator, condition_order, 
    is_delete, create_time, update_time
  </sql>
  <select id="selectByExample" parameterType="com.weweibuy.brms.model.example.RuleConditionExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from brms_rule_condition
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExampleWithLimit" parameterType="map" resultMap="BaseResultMap">
    select
    <if test="example.distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from brms_rule_condition
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
    <if test="example.orderByClause != null">
      order by ${example.orderByClause}
    </if>
    <if test="limit != null">
      limit #{limit}
    </if>
  </select>
  <select id="selectByExampleForUpdate" parameterType="com.weweibuy.brms.model.example.RuleConditionExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from brms_rule_condition
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
     for update
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from brms_rule_condition
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from brms_rule_condition
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.weweibuy.brms.model.example.RuleConditionExample">
    delete from brms_rule_condition
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.weweibuy.brms.model.po.RuleCondition">
    insert into brms_rule_condition (id, rule_key, attr_name, 
      condition_operator, condition_value, logical_operator, 
      condition_order, is_delete, create_time, 
      update_time)
    values (#{id,jdbcType=BIGINT}, #{ruleKey,jdbcType=VARCHAR}, #{attrName,jdbcType=VARCHAR}, 
      #{conditionOperator,jdbcType=VARCHAR}, #{conditionValue,jdbcType=VARCHAR}, #{logicalOperator,jdbcType=VARCHAR}, 
      #{conditionOrder,jdbcType=INTEGER}, #{deleted,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.weweibuy.brms.model.po.RuleCondition">
    insert into brms_rule_condition
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="ruleKey != null">
        rule_key,
      </if>
      <if test="attrName != null">
        attr_name,
      </if>
      <if test="conditionOperator != null">
        condition_operator,
      </if>
      <if test="conditionValue != null">
        condition_value,
      </if>
      <if test="logicalOperator != null">
        logical_operator,
      </if>
      <if test="conditionOrder != null">
        condition_order,
      </if>
      <if test="deleted != null">
        is_delete,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="ruleKey != null">
        #{ruleKey,jdbcType=VARCHAR},
      </if>
      <if test="attrName != null">
        #{attrName,jdbcType=VARCHAR},
      </if>
      <if test="conditionOperator != null">
        #{conditionOperator,jdbcType=VARCHAR},
      </if>
      <if test="conditionValue != null">
        #{conditionValue,jdbcType=VARCHAR},
      </if>
      <if test="logicalOperator != null">
        #{logicalOperator,jdbcType=VARCHAR},
      </if>
      <if test="conditionOrder != null">
        #{conditionOrder,jdbcType=INTEGER},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.weweibuy.brms.model.example.RuleConditionExample" resultType="java.lang.Long">
    select count(*) from brms_rule_condition
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update brms_rule_condition
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.ruleKey != null">
        rule_key = #{record.ruleKey,jdbcType=VARCHAR},
      </if>
      <if test="record.attrName != null">
        attr_name = #{record.attrName,jdbcType=VARCHAR},
      </if>
      <if test="record.conditionOperator != null">
        condition_operator = #{record.conditionOperator,jdbcType=VARCHAR},
      </if>
      <if test="record.conditionValue != null">
        condition_value = #{record.conditionValue,jdbcType=VARCHAR},
      </if>
      <if test="record.logicalOperator != null">
        logical_operator = #{record.logicalOperator,jdbcType=VARCHAR},
      </if>
      <if test="record.conditionOrder != null">
        condition_order = #{record.conditionOrder,jdbcType=INTEGER},
      </if>
      <if test="record.deleted != null">
        is_delete = #{record.deleted,jdbcType=TINYINT},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update brms_rule_condition
    set id = #{record.id,jdbcType=BIGINT},
      rule_key = #{record.ruleKey,jdbcType=VARCHAR},
      attr_name = #{record.attrName,jdbcType=VARCHAR},
      condition_operator = #{record.conditionOperator,jdbcType=VARCHAR},
      condition_value = #{record.conditionValue,jdbcType=VARCHAR},
      logical_operator = #{record.logicalOperator,jdbcType=VARCHAR},
      condition_order = #{record.conditionOrder,jdbcType=INTEGER},
      is_delete = #{record.deleted,jdbcType=TINYINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.weweibuy.brms.model.po.RuleCondition">
    update brms_rule_condition
    <set>
      <if test="ruleKey != null">
        rule_key = #{ruleKey,jdbcType=VARCHAR},
      </if>
      <if test="attrName != null">
        attr_name = #{attrName,jdbcType=VARCHAR},
      </if>
      <if test="conditionOperator != null">
        condition_operator = #{conditionOperator,jdbcType=VARCHAR},
      </if>
      <if test="conditionValue != null">
        condition_value = #{conditionValue,jdbcType=VARCHAR},
      </if>
      <if test="logicalOperator != null">
        logical_operator = #{logicalOperator,jdbcType=VARCHAR},
      </if>
      <if test="conditionOrder != null">
        condition_order = #{conditionOrder,jdbcType=INTEGER},
      </if>
      <if test="deleted != null">
        is_delete = #{deleted,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.weweibuy.brms.model.po.RuleCondition">
    update brms_rule_condition
    set rule_key = #{ruleKey,jdbcType=VARCHAR},
      attr_name = #{attrName,jdbcType=VARCHAR},
      condition_operator = #{conditionOperator,jdbcType=VARCHAR},
      condition_value = #{conditionValue,jdbcType=VARCHAR},
      logical_operator = #{logicalOperator,jdbcType=VARCHAR},
      condition_order = #{conditionOrder,jdbcType=INTEGER},
      is_delete = #{deleted,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectOneByExample" parameterType="com.weweibuy.brms.model.example.RuleConditionExample" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from brms_rule_condition
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    limit 1
  </select>
  <select id="selectOneByExampleForUpdate" parameterType="com.weweibuy.brms.model.example.RuleConditionExample" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from brms_rule_condition
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    limit 1
     for update
  </select>
</mapper>